body ul {
	list-style:none;
}
body .request {
	padding:10px;
	margin:12px;
	max-width:250px;
	width:100%;
}
body .request.card {
	position:relative;
}

body .request.card input[type=checkbox] {
	position:absolute;
	bottom:15px;
	right:15px;
}
